<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636479501272-r0nla6cj545n82qn991tluo8kq3n2u9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636479501272-r0nla6cj545n82qn991tluo8kq3n2u9j</string>
	<key>API_KEY</key>
	<string>AIzaSyAPxjG8GNGZA1k2nepdKA0z3gqo1XExg3s</string>
	<key>GCM_SENDER_ID</key>
	<string>636479501272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.receitas.app</string>
	<key>PROJECT_ID</key>
	<string>app-receita-da11c</string>
	<key>STORAGE_BUCKET</key>
	<string>app-receita-da11c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636479501272:ios:87abc9b13f50212d7778ad</string>
	<key>DATABASE_URL</key>
	<string>https://app-receita-da11c-default-rtdb.firebaseio.com</string>
</dict>
</plist>